
header{
    background-color: #7D0A0A;
}

main{
    background-color: #EAD196;
}
.sectionForm{
    background-color:#F3EDC8 ;
}
.bordeS3{
    border-color: #7D0A0A !important;
}


footer{
    background-color: #7D0A0A;
}
.logo{
    width: 60px;
}
.logoF{
    width: 60px;
}
.aF{
    color: #F3EDC8;
}