* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #7D0A0A;
    z-index: 1;

}

.texto-header {
    color: #F3EDC8;

}

header nav div ul {
    list-style-type: none;
}

header nav div ul li a {
    text-decoration: none;
    color: #F3EDC8;
}


main {
    background-color: #EAD196;
}

.imgCrr {
    height: 300px;
}

.carousel-inner {
    height: 250px;
}

.carousel-item {
    height: 250px;
}

.sectionForm {
    background-color: #F3EDC8;
}

.bordeS3 {
    border-color: #7D0A0A !important;
}

h5 {
    text-shadow: 2px 2px black;
}

.btn-modal {
    background-color: white;
    color: black;

}

.card-img {
    height: 356px;
}

.card-link {
    color: black;
}

.modal-body {
    color: black;
}



footer {
    background-color: #7D0A0A;
    height: 150px;
}

.logo {
    width: 60px;
}

.logoF {
    width: 60px;
}

.aF {
    color: #F3EDC8;
    text-decoration: none;
}

.texto-footer {
    color: #F3EDC8;
}

@media(min-width: 992px) {
    .crr {
        height: 500px;
        padding-top: 15vh;

    }

    .carousel-inner {
        height: 350px;
    }

    main {
        background-image: url(../assets/cine-main.jpg);
    }

    h1 {
        color: #F3EDC8;
    }

    h2 {
        color: #F3EDC8;
    }

    .p-main {
        color: #F3EDC8;
    }

}